.board {
  display: grid;
  grid-auto-columns: 20px;
  grid-auto-rows: 20px;
  grid-template-columns: repeat(auto-fill, 20px);
  position: relative;
}
.game-state {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.game-state.win {
  background-color: #65ce8aba;
}
.game-state.game-over {
  background-color: #e16666ba;
}
.game-state .message {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.game-state .face {
  margin-bottom: 15px;
  font-size: 45px;
}
.game-state button {
  border: 1px solid #458ac6;
  padding: 10px;
  border-radius: 6px;
  background-color: #5ca3e1;
  font-size: 16px;
  color: #323232;
  cursor: pointer;
}
.game-state button:hover {
  background-color: #4595db;
}