.cell {
  border-style: outset;
  cursor: pointer;
}
.cell.cell-visible {
  border: 1px solid grey;
  background-color: #dfdfdf;
}
.bomb-icon {
  background-image: url('/bomb.svg');
  width: 100%;
  height: 100%;
  display: block;
  background-size: 90%;
}
.flag-icon {
  background-image: url('/flag.png');
  width: 100%;
  height: 100%;
  display: block;
  background-size: 90%;
}